
 /* this is dummy code */
 
 h6 { background-color: #237B7B; 
     color: #E2FFFF; 
	 opacity: 0.6;
	 line-height: 150%;
	 font-family: Georgia, "Times New Roman", serif;
	 text-indent: 1em;
	 text-shadow: 3px 3px 5px gold;
    box-shadow: 5px 5px 5px red 	 }
	 
	 
/* end dummy */